{% extends "layout.html" %}

{% block head %}
    <title> Sobre </title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block content %}
    <div id="wrapper">
        <img src="https://avatars1.githubusercontent.com/u/59971847?s=460&u=e85cf18e7b93161f7774396ae81c35c712bec30e&v=4" alt="CMLA">
        <h1> Cristiano Mizael</h1>
        <h2>Aluno - RocketSeat</h2>
        <p>Estudande de JavaScript na <a href="www.rocketseat.com.br" target="_blanck" >Rocketseat</a></p>
    </div>
    <div id="links-footer" class="links">
        <a href="/" target="_blank"> Linkedin </a>
        <a href="/" target="_blank"> Twitter </a>
        <a href="/" target="_blank"> Git </a>
    </div>
{% endblock %}