<!DOCTYPE html>
<html>
    <head>

        {% block head %}
            <title> Sobre </title>
        {% endblock %}
        
        <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="/public/styles.css">
    </head>
    <body>
        <header>
            <div class="links">
                <a href="/views/about.html"> Sobre </a>
                <a href="/views/portfolio.html"> Aulas </a>
            </div>
        </header>
        {% block content %}

        {% endblock %}
    </body>

</html>
